#include "ZipMsg.h"
// 1.73 7 July 2003

STRINGTABLE {

GE_FatalZip, 		   "Fatal Error in ZipDLL.DLL: abort exception"
GE_NoZipSpecified, "Error - no zip file specified!"
GE_NoMem,			     "Requested memory not available"
GE_WrongPassword,	 "Error - passwords do NOT match\nPassword ignored"
GE_CopyFile,		   "Copying: "

RN_ZipSFXData,     "Error while copying the SFX header"
RN_NoRenOnSpan,    "Rename is not implemented for a spanned zip file"
RN_ProcessFile,    "Processing: "
RN_RenameTo,			 " renamed to: "
RN_InvalidDateTime "Invalid date/time argument for file: "

PW_UnatAddPWMiss,	 "Error - no add password given"
PW_UnatExtPWMiss,	 "Error - no extract password given"
PW_Ok,				     "&Ok"
PW_Cancel,			   "&Cancel"
PW_Caption,		 	   "Password"
PW_MessageEnter,	 "Enter Password "
PW_MessageConfirm, "Confirm Password "
PW_CancelAll,		   "Cancel all"
PW_Abort,			     "Abort"
PW_ForFile,			   " for file: "

CF_SourceIsDest,	 "Source archive is the same as the destination archive!"
CF_OverwriteYN,	   "Overwrite file '%s' in '%s' ?"
CF_CopyFailed,		 "Copying a file from '%s' to '%s' failed"
CF_SourceNotFound, "File '%s' is not present in '%s'!"
CF_SFXCopyError,	 "Error while copying the SFX data"
CF_DestFileNoOpen, "Destination zip archive could not be opened!"
CF_NoCopyOnSpan,   "CopyZippedFiles is not implemented for a spanned zip file"

LI_ReadZipError,	 "Seek error reading Zip archive!"
LI_ErrorUnknown,	 "Unknown error in List() function\n"
LI_WrongZipStruct, "Warning - Error in zip structure!"
LI_GarbageAtEOF,	 "Warning - Garbage at the end of the zipfile!"

AD_NothingToZip,	 "Error - no files to zip!"
AD_UnattPassword,	 "Unattended action not possible without a password"
AD_NoFreshenUpdate,"AddFreshen or AddUpdate not possible on a spanned archive"
AD_AutoSFXWrong,	 "Error %.1d occurred during Auto SFX creation."
AD_NoStreamDLL,	   "Error - your ZipDLL.dll can not use streams, please update to version >= 1.60"
AD_InIsOutStream,	 "Input stream may not be set to the output stream"
AD_InvalidName,	   "Wildcards are not allowed in Filename or file specification" 
AD_NoDestDir      "Destination directory '%s' must exist!"

DL_NothingToDel,	 "Error - no files selected for deletion"
DL_NoDelOnSpan,    "Delete Files from archive is not implemented for a spanned zip file"

EX_FatalUnZip,		 "Fatal Error in UnzDLL.DLL: abort exception"
EX_UnAttPassword,	 "Warning - Unattended Extract: possible not all files extracted"
EX_NoStreamDLL,	   "Error - your UnzDLL.dll can not use streams, please update to version >= 1.60"

LZ_ZipDllLoaded,	 "ZIP DLL Loaded"
LZ_NoZipDllExec,	 "ZipDllExec function not found in ZIPDLL.DLL!"
LZ_NoZipDllVers,	 "GetZipDllVersion function not found in ZIPDLL.DLL!"
LZ_NoZipDll,		   "ZIPDLL.DLL not found!"
LZ_OldZipDll,      "Attempted to load old ZipDll from "
LZ_ZipDllUnloaded, "Zip DLL Unloaded"

LU_UnzDllLoaded,	 "UNZDLL Loaded!"
LU_NoUnzDllExec,	 "UnzDllExec function not found in UNZDLL.DLL!"
LU_NoUnzDllVers,	 "GetUnzDllVersion function not found in UNZDLL.DLL!"
LU_NoUnzDll,		   "UNZDLL.DLL not found!"
LU_OldUnzDll,      "Attempted to load old UnzDll from "
LU_UnzDllUnloaded, "Unz DLL Unloaded"

SF_StringToLong,	 "Error - On or more of the 4 property strings mentioned below exceeds 255 characters!"
SF_NoZipSFXBin,	   "Error - ZIPSFX.BIN not found!"
SF_InputIsNoZip,	 "Error: input file is not a zip file"
SF_NoSFXSupport,   "SFX Functions not supported"

CZ_NoExeSpecified, "Error - no .EXE file specified"
CZ_InputNotExe,	   "Error: input file is not an .EXE file"
CZ_SFXTypeUnknown, "Error determining the type of SFX archive"

DS_NoInFile,		   "Input file does not exist"
DS_FileOpen,		   "Zip file could not be opened"
DS_NotaDrive,		   "Not a valid drive: %s"
DS_DriveNoMount,	 "Drive %s is NOT defined"
DS_NoVolume,		   "Volume label could not be set"
DS_NoMem,			     "Not enough memory to display MsgBox"
DS_Canceled,		   "User canceled operation"
DS_FailedSeek,		 "Seek error in input file"
DS_NoOutFile,		   "Creation of output file failed"
DS_NoWrite,			   "Write error in output file"
DS_EOCBadRead,		 "Error while reading the End Of Central Directory"
DS_LOHBadRead,		 "Error while reading a local header"
DS_CEHBadRead,		 "Error while reading a central header"
DS_LOHWrongSig,	   "A local header signature is wrong"
DS_CEHWrongSig,	   "A central header signature is wrong"
DS_LONameLen,		   "Error while reading a local file name"
DS_CENameLen,		   "Error while reading a central file name"
DS_LOExtraLen,		 "Error while reading a local extra field"
DS_CEExtraLen,		 "Error while reading a central extra field"
DS_DataDesc,		   "Error while reading/writing a data descriptor area"
DS_ZipData,			   "Error while reading zipped data"
DS_CECommentLen,	 "Error while reading a file comment"
DS_EOArchComLen,	 "Error while reading the archive comment"
DS_ErrorUnknown,	 "UnKnown error in function ReadSpan(), WriteSpan(), ChangeFileDetails() or CopyZippedFiles()\n"
DS_NoUnattSpan,	   "Unattended disk spanning not implemented"
DS_EntryLost,		   "A local header not found in internal structure"
DS_NoTempFile,		 "Temporary file could not be created"
DS_LOHBadWrite,	   "Error while writing a local header"
DS_CEHBadWrite,	   "Error while writing a central header"
DS_EOCBadWrite,	   "Error while writing the End Of Central Directory"
DS_ExtWrongSig,	   "Error while reading a Extended Local signature"
DS_NoDiskSpace,	   "This disk has not enough free space available"
DS_InsertDisk,		 "Please insert last disk"
DS_InsertVolume,	 "Please insert disk volume %.1d of %.1d"
DS_InDrive,			   "\nin drive: %s"
DS_NoValidZip,		 "This archive is not a valid Zip archive"
DS_FirstInSet,		 "This is the first disk in a backup set,\nplease insert the last disk of this set"
DS_NotLastInSet,	 "This is the %dth disk in a backup set,\nplease insert the last disk of this set"
DS_AskDeleteFile,	 "There is already a file %s\nDo you want to overwrite this file"
DS_AskPrevFile,	   "ATTENTION: This is previous disk no %d!!!\nAre you sure you want to overwrite the contents"
DS_NoSFXSpan,		   "Error - Self extracting archives(.exe) can not be spanned"
DS_CEHBadCopy,		 "Error while copying a filename of a CEH structure"
DS_EOCBadSeek,		 "Seek error while skipping a EOC structure"
DS_EOCBadCopy,		 "Error while copying the zip archive comment"
DS_FirstFileOnHD,	 "This is the first file in a backup set,\nplease choose the last file of this set"
DS_InsertAVolume,  "Please insert disk volume %.1d"
DS_CopyCentral,    "Central directory"
DS_NoDiskSpan,     "DiskSpanning not supported"

FM_Erase,          "Erase "
FM_Confirm         "Confirm"

ED_SizeToLarge     "Size of FileExtraData is larger than available array"

CD_NoCDOnSpan,    "ChangeFileDetails is not implemented for a spanned zip file"
CD_NoEventHndlr   "No Event Handler found to Change File Details"
CD_LOExtraLen     "Error while writing a local extra field"
CD_CEExtraLen     "Error while writing a central extra field"
CD_CEComLen       "Error while writing a file comment"
CD_FileName       "No FileName in changed file details"
CD_CEHDataSize    "The combined length of CEH + FileName + FileComment + ExtraData exceeds 65535"
CD_Changing       "Changing details of: "


EX_NoExtrDir			"Extract directory '%s' must exist"
PR_Archive         "*Resetting Archive bit"
PR_CopyZipFile     "*Copying Zip File"   
PR_SFX             "*SFX"
PR_Header          "*??"
PR_Finish          "*Finalising"
PR_Copying         "*Copying"
PR_CentrlDir       "*Central Directory"
PR_Checking					"*Checking"

//EX_NoExtrDir      "Extraction directory must exist!"
WZ_DropDirOnly    "Dropping %d empty directory entries"
WZ_NothingToWrite "Nothing to write"

LD_NoDll					"Failed to load %s"
LD_BadDll					"Unable to load %s - It is old or corrupt"
LD_DllLoaded			"Loaded "
LD_DllUnloaded		"Unloaded "

}
